:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #4D3EAF;
    --secondary: #494454;
    --popup-error: #e54c44;
    --submit-color: #68baa6;
    --navigation-color: var(--secondary);
}
