@page "/Chat"
@inject IHttpClientFactory factory;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Net.Http
@using Microsoft.AspNetCore.Http.Connections.Client
@using System.Net

<div style="display: flex;">
    <div style="display: flex;">
        @content
    </div>
    <input @bind-value="message" type="text"/>
    <button @onclick="Send">Send</button>
</div>

@code {
    public HubConnection hub { get; set; }
    public string message;
    public string content ="";
    private const string cs = "https://localhost:7234/api/Account/Token/";

    protected override async Task OnInitializedAsync()
    {
        HttpClient http = factory.CreateClient("API");

        hub = new HubConnectionBuilder()
            .WithUrl("https://localhost:7234/chat", options =>
            {
                options.HttpMessageHandlerFactory = innerHandler =>
                    new IncludeRequestCredentialsMessageHandler() { InnerHandler = innerHandler };
            })
            .WithAutomaticReconnect()
            .Build();

        hub.On<string,string>("GetMessage", (username, msg) => {
                                                                   content += $"{username}: {msg}\n";
        });

        await hub.StartAsync();

        await base.OnInitializedAsync();
    }


    private async Task Send()
    {
        await hub.InvokeAsync("SendMessageToAll", Thread.CurrentThread.Name, message);
    }

}