.login-page {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #00bfff;
}

.login-form-div {
    display: flex;
    width: 17%;
    height: 60%;
    border-radius: 20px;
    background-color: #e8fcff;
    padding: 0.5%;
    box-shadow: 0px 0px 8px 0.2px;
}

@media (max-width: 1400px) {
    .login-form-div {
        width: 23%;
        height: 60%;
        
    }
}

@media (max-width: 1100px) {
    .login-form-div {
        width: 30%;
        height: 60%;
    }
}


form {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 7% 10% 7% 10% 7% 10% 3% 40% 3%;
    grid-template-columns: 5% 90% 5%;
}

#username-div {
    display: flex;
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
}

#password-div {
    display: flex;
    grid-row: 4;
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.input {
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
    height: 3rem;
    font-size: 2rem;
    outline: 1px auto;
    background-color:#e8fcff;
    z-index: 1;
}

#button-div {
    display: flex;
    justify-content: center;
    grid-row: 6;
    grid-column: 2;
    width: 100%;
    height: 100%;
}


.submit-button{
    background-color:transparent;
    border-radius: 5px;
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
}


.submit-button:hover {
    background-color: #a6ecff
}

#message-div {
    width: 100%;
    height: 100%;
    grid-row: 8;
    grid-column: 2;
}

.line-div {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}