.login-page {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    background-color: var(--primary);
}

.login-form-div {
    display: flex;
    width: 17%;
    height: 60%;
    border-radius: 20px;
    background-color: var(--secondary);
    padding: 0.5%;
    box-shadow: 0px 0px 8px 0.2px;
    z-index: 1;
}

@media (max-width: 1400px) {
    .login-form-div {
        width: 23%;
        height: 60%;
    }
}

@media (max-width: 1100px) {
    .login-form-div {
        width: 30%;
        height: 60%;
    }
}


form {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 7% 10% 7% 10% 7% 10% 7% 35% 3%;
    grid-template-columns: 5% 90% 5%;
}

#username-div {
    display: flex;
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
}

#password-div {
    display: flex;
    grid-row: 4;
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.input {
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--secondary);
    outline: 1px solid var(--white);
    color: var(--white);
    z-index: 1;
    user-select: none;
    border: none !important;
}

.input::placeholder{
    color:white;
}

#button-div {
    display: flex;
    justify-content: center;
    grid-row: 6;
    grid-column: 2;
    width: 100%;
    height: 100%;
}


.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 4px auto;
    width: 100%;
    color: var(--white);
    background-color: var(--submit-color);
    border: none;
}

#message-div {
    width: 100%;
    height: 100%;
    grid-row: 8;
    grid-column: 2;
}

.line-div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}



#login-img {
    padding-left: 5%;
}

#line-one {
    width: 5vw;
    height: 200vh;
    position: fixed;
    z-index: 0;
    background-color: var(--white);
    transform: translateX(50vw) translateY(-45vh) rotate(-45deg);
}