.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

article {
    display: flex;
    padding: 0 !important;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
