
.flying-plane {
    display: flex;
    animation-name: start-plane;
    animation-duration: 0.7s;
    animation-timing-function: linear;
}

.invisible {
    display: none;
}

@keyframes start-plane {
    0% { transform: translate(100%, 0) scale(1) rotate(20deg); }

    100% { transform: translate(70vw, 25vh) scale(5) rotate(60deg); }
}

