body{
    overflow: hidden;
}
.navbar-left-show {
    width: 90% !important;
    height: 100%;
    background-color: var(--blue-dark);
}

.navbar-right-show {
    width: 90% !important;
    height: 100%;
    background-color: var(--blue-dark);
}

.navbar-left-arrow {
    display: none !important;
}

.navbar-right-arrow {
    display: none !important;
}

.logo-swap-one {
    animation: LogoToRight 0.6s linear forwards;
}

@keyframes LogoToRight {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.logo-swap-two {
    animation: LogoFromRight 0.6s linear forwards;
}

@keyframes LogoFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(35%);
    }

}

.logo-swap-three{
    animation: LogoToLeft 0.6s linear forwards;
}

@keyframes LogoToLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.users-extend {
    display: flex !important;
    flex-direction: column;
    animation: height-extend 0.5s ease forwards;
    overflow-y: hidden;
}

.users-decrease {
    animation: height0decrease 0.5s ease forwards;
}

@keyframes height-extend  {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes height-decrease {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }

}

.chat-window-open{
    position:relative;
    display: flex !important;
    animation: OpenWindow 0.7s linear forwards;
}

.chat-window-close {
    position: relative;
    display: flex !important;
    animation: CloseWindow 0.7s linear forwards;
}

@keyframes OpenWindow{
    0%{
        top:-5%;
        left:40%;
        width: 0;
        height: 0;
        border:  20% solid var(--primary-darker);
        border-radius: 100%;
    }
    50%{
        width:45%;
        height: 45%;
        top: 27.5%;
        left: 27.5%;
        border: none;
    }
    100%{
        width:90%;
        height: 90%;
        top:5%;
        left: 5%;
        border: 2px solid var(--primary-darker-hover);
        background-color: var(--primary-darker);
    }
}

@keyframes CloseWindow {
    0% {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        border: 1px solid var(--primary-darker-hover);
        background-color: var(--primary-darker);
    }

    50% {
        width: 45%;
        height: 45%;
        top: 27.5%;
        left: 27.5%;
        border: none;
    }

    100% {
        
        top: -5%;
        left: 40%;
        width: 0;
        height: 0;
        border: none;
        border-radius: 100%;
    }
}
